# --- AWS ---
AWS_PROFILE=Mario
AWS_REGION=us-east-2

# --- DynamoDB ---
DYNAMO_PREFIX=omniretail_
MAX_ROWS=20

# --- Modelo Bedrock ---
MODEL_ID=us.anthropic.claude-3-5-haiku-20241022-v1:0
MODEL_TEMPERATURE=0.0

# --- Logging ---
LOG_LEVEL=INFO

# --- S3 Políticas (dejar vacío para usar carpeta local "politicas/") ---
POLICY_S3_BUCKET=omniretail-policies
POLICY_S3_PREFIX=politicas/
